* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F7F7F7
}


.menuHeader {
    background-color: #F7F7F7;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    font-size: 20px;
}


header {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    background-color: #fff;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}



.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon div {
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 4px 0;
    transition: 0.4s;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
    position: relative;
}

nav ul li a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #CAEFFC;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

nav ul li a:hover::before {
    transform: scaleX(1);
}

.inicio {
    color: #FFD2F6;
}

.contato {
    color: black
}

.inicio,
.produtos,
.contato {

    transition: color 0.3s ease;
}

.logo {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    padding-bottom: 10px;
    justify-content: space-between;

}

.compra {
    background: linear-gradient(90deg, rgba(61, 135, 255) 0%, rgba(94, 156, 255) 38%, rgba(229, 158, 255) 100%);
    color: white;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.4s ease;
    text-decoration: none;
}

.compra:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.textprod {
    color: rgb(255, 217, 113)
}

.slider {
    margin: 0 auto;
    width: 600px;
    height: 400px;
    overflow: hidden;
    margin-bottom: 50px;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 600px;
    height: 400px;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 100%;
}

.manual-navigation {
    position: relative;
    bottom: 20px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: blue;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

#radio4:checked~.first {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid crimson;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    display: none;
}

.navigation-auto {
    position: absolute;
    width: 880px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: white;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: white;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: white;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background-color: white;
}

.sobrenozestlg {
    padding: 50px;
    background-image: url(./IMG/fundo\ main.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgsobre {
    background-image: url(./IMG/302..jpg);
    background-position: center;
    width: 50vh;
    height: 50vh;
    display: flex;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.3);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    /* padding-bottom: 50px; */
    color: rgba(61, 135, 255);
    text-align: center;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-block: 1rem;
}

.textosobre {
    margin: auto;
    display: flex;
    justify-content: right;
    margin-left: auto;
    text-align: justify;
    font-size: 20px;
}

.part1 {
    display: flex;
}

.loc {
    padding: 50px;
    display: flex;

}

.textloc {
    padding: 20px;
    font-size: 25px;
}

.tittleloc {
    color: rgba(61, 135, 255);
    font-size: 32px;
}

.locbox {
    padding: 50px;
    display: flex;
    align-items: center;
}

.box {
    width: 20;
    flex: 1;
}

.box img {
    width: 100%;
}

.box h1 {
    font-size: 25px;
    color: rgba(61, 135, 255);
}

/* .box h1 {
    font-size: 25px;
    color: rgba(61, 135, 255);
    white-space: nowrap;   
} */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    max-width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: justify;
    flex-wrap: wrap;
}

.logoFooter {
    width: 250px;
    height: 250px;
    border-radius: 100px;
}


.tituloAtendimento {
    color: rgba(61, 135, 255);
}

.inicioFooter,
.ProdutosFooter,
.ContatoFooter {
    text-decoration: none;
    color: #fff;
    transition: color 0.7s ease;
    cursor: pointer;
}

.inicioFooter:hover,
.ProdutosFooter:hover,
.ContatoFooter:hover,

.Institucional {
    color: rgb(255, 217, 113);
}

.FaleConosco {
    color: rgb(255, 217, 113);

}

.sao {
    color: #fff;
}

.fa {

    font-size: 30px;
    text-align: center;
    text-decoration: none;
    transition: color 0.7s ease;
    cursor: pointer;


}

.fa:hover {
    color: rgb(255, 217, 113);
}

.fa-instagram {
    color: white;
    display: flex;
}

.fa {

    font-size: 30px;
    text-align: center;
    text-decoration: none;
    transition: color 0.7s ease;
    cursor: pointer;

}

.fa:hover {
    color: rgb(255, 217, 113);
}

.fa-whatsapp {
    color: white;
    display: flex;
}

.desenvolvido {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    align-items: center;
}

.desenvolvidoPor {
    text-decoration: none;
    color: #fff;

}

@media (max-width: 768px) {

    .logo {
        display: block;
        z-index: -1;
        justify-content: space-between;
    }

    .miniAgende {
        color: #a9d39e;
        display: block;
    }

    .sessao {
        display: none;
    }

    .menu-icon {
        display: flex;
        z-index: 99;
    }

    nav {
        display: none;
        width: 100%;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 5px 0;
    }

    nav.active {
        display: flex;
        flex-direction: column;
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

@media (max-width: 450px) {
    .textprod {
        flex-direction: column;
        text-align: center;
    }

    .slider {
        margin: 0 auto;
        width: 400px;
        height: 200px;
        overflow: hidden;
        margin-bottom: 50px;
    }    

    .slide {
        width: 400px;
        height: 200px;
        position: relative;
        transition: 2s;
    }

    .manual-navigation {
        position: relative;
        bottom: 230px;
        display: flex;
        justify-content: center;
    }

    .loc    {
        flex-direction: column;
    }

    .google-map {
        width: 100%;
    }

    .locbox {
        flex-direction: column;
    }

    footer  {
        flex-direction: column;
    }
}